body {
  background-color: #a5b1c2;
}
div {
  font-size: 25px;
}

#one-timeExpenses {
  float: left;
  border: 10px solid#b2bec3;
}

#Budget {

  float: left;
  border: 10px solid #b2bec3;
}

#submit {
  float: buttom;

}
